<%- include('./include/head.ejs') %>
<!-- Navbar -->
<%- include('./include/navbar.ejs') %>

<!-- Main content -->
<main role="main">

  <section class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">N.A.S.A API Project</h1>
      <p class="lead">NASA photo of the day, you can choose any specific date to show a pic or scroll down and comment any photo.</p>
    </div>
    <p class="mb-0">
      <label for="datePicker" class="d-none"></label>
      <input type="date" id="datePicker" class="form-control w-25" />
    </p>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row" id="main-data">

      </div>
      <div class="d-flex justify-content-center d-none" id="loader">
        <div class="spinner-grow" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-sub">Modal title</h5>
        <button type="button" id="close-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 mb-3" id="modal-img">
              <img id="modal-img" class="img-fluid" style="object-fit: cover; height: 75vh; width: 100%;" src="" />
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="row">
                <div class="row d-flex justify-content-center">
                  <div class="col">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                      <div class="card-body p-4" id="modal-comments-area">

                        <!--- add comment -->
                        <div class="form-outline mb-2">
                          <form method="post" action="/addComment/" id="submit-comment">
                            <input type="hidden" value="" id="pic_date" name="pic_date">
                            <input required type="text" id="comment" name="comment" class="form-control" placeholder="Type comment..." />
                            <label class="form-label d-done" for="comment"></label>
                            <input type="submit" id="add_comment" class="btn btn-primary btn-sm mt-2" />
                            <input type="reset" class="btn btn-primary btn-sm mt-2" />
                          </form>
                        </div>

                        <!--- comment -->
                        <div id="com" class="h-75 overflow-auto">

                        </div>
                        <div class="d-flex justify-content-center d-none" id="loaderCom">
                          <div class="spinner-grow" role="status">
                            <span class="sr-only"></span>
                          </div>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/index.js"></script>
<!-- Footer -->
<%- include('./include/footer.ejs') %>
